.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messages {
  padding: 0.4rem;
  color: whitesmoke;
  background-color: black;
}

.message {
  display: block;
}

.controls {
  display: flex;
  width: 100%;

  button+button {
    margin-left: 0.5rem;
  }
}
